/* Whole body of page display */
body {
    margin: 25px;
    background: rgb(231, 248, 255);
    display: flex auto;
}
/* color of H1 text,background color and font info */
H1 {
    display: flex auto;
    text-align: left;
    color: rgb(96, 198, 221);
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

    /* Nav bar set to display inline */
nav {
    display: inline;
}
/* list iteams display and font color */
li {
    display: flex inline-table;
    list-style-position:inline-block;
    list-style-type: none;
    justify-content:flex-end;
    color: rgb(69, 181,189);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-decoration-line: underline;
    text-align: right;
    
}
/* H2 font color and background */
H2 {
    text-align: right;
    color: rgb(132, 197, 223);
    font-size: 30px;
    background-color: rgb(253, 208, 124);
    font-weight: bold;
    font-family: Arial, sans-serif;

}
 /* Sub header font color and background color */
sub {
    color: rgb(49, 48, 48);
    background-color: rgb(228, 168, 147);
    text-align:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;

}
/* font size for About Me section */
#about-me {
    margin-left: 50%;
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align:inherit right;
    text-orientation: inherit;
    font-weight: normal;
    line-height: 2;
}

/*sets size for screenshot image in middle of page  */
#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: right, auto;
    height: 200px;
    border: 5px solid teal auto;
    border-width: 2px;
    margin-left: 50%;

}

/* sets size for screenshot image in middle of page */
.img1 {
    display: flex;
    flex:auto;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    border: 10px solid darkblue;
    
}

/* defines box size for placeholder images */
#box {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    background-color: lightblue;
    margin: 25px;
    padding: 10px;
    border: 10px solid darkblue;
    flex-flow: row, wrap, auto;
    justify-content: space-around;
    align-items: center;
    margin-left: 50% auto;
    position: center;

}

/* defines box  bordersfor  placeholder images  */
.contaniner {
    min-height: 5px;
    width: 5px;
    flex: 25%;
    display: flex;
    flex-flow:row wrap auto;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    border: crimson solid 15px;
}

/* sets display size for placeholder imges and mark postion*/
.card {
    display: flex row;
    width: 25%;

}

/* text align and inline for footer */
footer {
    display: flex;
    text-align: right;
    justify-content: inline-block;
}
/* screen resize for mobile */

@media screen and (min-width:992px) {}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 576px){}